.footer{
    background-color: #641220;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
}
.footer-tag{
    color: #E01E37;
    align-items: center;
    margin-left: 78%;
    cursor: context-menu;
    text-decoration: none;
    font-size: 1.5rem;
    flex-grow: 1;
}